<div class="container col-md-11">
    <div class="title">
        <h1>Reddit</h1>
    </div>
    <div class="subreddits">
        <div class="col-1 col-md-1 col-lg-1 col-xl-1">
            <a routerLink="/aww">
                <p>/aww</p>
            </a>
        </div>
        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
            <a routerLink="/programmerhumor">
                <p>/programmerhumor</p>
            </a>
        </div>
        <div class="col-1 col-md-1 col-lg-1 col-xl-1">
            <a routerLink="/angular4tears">
                <p>/angular4tears</p>
            </a>
        </div>
    </div>
</div>